html, body {
	font-size: 100%;
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
}
path {
	stroke: #000000;
	stroke-width: .25px;
	fill: #FAFAFA;
}
#title {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
	padding: .1em 0 .1em .5em;
	width: 100%;
	color: #FFFFFF;
	background-color: #000000;
}
#title a {
	text-decoration: none;
	color: #FFFFFF;
}
.interface {
	        	float: right;
}
#menuWrapper {
	display: inline-block;
	width: 300px;
}

#menu {
	float: right;
	margin: 0 0 0 .1em;
}
.catBtn {
	float: right;
	  background: #000000;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: .6em;
	  padding: 1px 20px 1px 5px;
	  margin-bottom: 2px;
	  text-decoration: none;
	  text-align: left;
	  width: 180px;
}
.catBtn:hover {
	background: #3cb0fd;
	  text-decoration: none;
}
.catActive {
	background: #3498db;
	  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	  background-image: -o-linear-gradient(top, #3498db, #2980b9);
	  background-image: linear-gradient(to bottom, #3498db, #2980b9);
	  float: right;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: .6em;
	  padding: 1px 20px 1px 5px;
	  margin-bottom: 2px;
	  text-decoration: none;
	  text-align: left;
	  width: 190px;
}
.catActive:hover {
	background: #3cb0fd;
	  text-decoration: none;
}
#categories {
	float: left;
}
.category {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
}
.categories {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}
.languageArea {
	font-size: 2em;
}
#areas li{
	float: left;
	list-style: none;
	text-align: left;
	background-color: #000000;
	width: 150px;
	height: 15px;
	line-height: 50px;
	text-decoration: none;
}
#areas li a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}
#areas li a:hover {
	text-decoration: none;
	color: #FF00FF;
	background-color: #33B5E5;
}
.btn {
	  background: #3498db;
	  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	  background-image: -o-linear-gradient(top, #3498db, #2980b9);
	  background-image: linear-gradient(to bottom, #3498db, #2980b9);
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 28px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 1em;
	  padding: 1px 20px 1px 20px;
	  margin-bottom: 5px;
	  text-decoration: none;
	  text-align: center;
}
.btn:hover {
	  background: #3cb0fd;
	  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	  text-decoration: none;
	}
.active {
	background: #000000;
	  background-image: -webkit-linear-gradient(top, #000000, #3498db);
	  background-image: -moz-linear-gradient(top, #000000, #3498db);
	  background-image: -ms-linear-gradient(top, #000000, #3498db);
	  background-image: -o-linear-gradient(top, #000000, #3498db);
	  background-image: linear-gradient(to bottom, #000000, #3498db);
	  text-decoration: none;
}
#details {
	width: 100%;
	bottom: 0;
	position: fixed;
}
/*svg #afro {
	fill: red;
}

svg #afroOff {
	fill: none;
}*/